@import url("./base.css");

[data-theme="light"] {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-background-mute-hover: #ececec;
  --color-background-soft-hover: #f0f0f0;

  --color-heading: var(--vt-c-text-light-2);
  --color-text: #000;

  --auth-bg-img: url("./images/backgrounds/background-light.jpg");
}
[data-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-background-mute-hover: #555555;
  --color-background-soft-hover: #3b3b3b;

  --color-heading: var(--vt-c-text-dark-2);
  --color-text: #fff;

  --auth-bg-img: url("./images/backgrounds/background-dark.jpg");
}
